@model MapLocationModel

    <section class="ct-section--grey text-center ">
        <div class="text-right">

            <div class="seventhStyle"></div>

        </div>
    </section>


    <!-- Maps -->

    <script src="~/public/maps/js/device.min.js"></script>
    <script src="~/public/maps/js/jquery.browser.min.js"></script>
    <script>
        function setLocation(longt, lati) {
            var getlong = longt;
            var getlat = lati;
        }
    </script>

    <script src="~/public/src/shop-locator.min.js"></script>

    <script src="~/public/maps/js/splash.js"></script>